@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Volkhov&display=swap');
.title h2{
    color: #DF6951 !important;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 8rem;
}

.img1{
    width: 192.843px;
    height: 167.561px;
    margin-right: 14rem;
    margin-left:12rem;
}
.boss h1{
    color: var(--1st, #181E4B);
    font-family: Volkhov;
    font-size: 84px;
    font-style: normal;
    font-weight: 700;
    line-height: 89px; /* 105.952% */
    letter-spacing: -3.36px;
}
.boss p{
    width: 600px;
    color: #5E6282;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    margin-top: 3rem !important;
    margin-left: 5rem;
}

.img2{
    width: 215px;
    height: 167px;
    margin-right:5rem;
    margin-top: 5rem;
}
.cards h1{
    color: var(--3rd, #14183E);
    text-align: center;
    font-family: Volkhov;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.card-content{
    display: flex;
}
.content{
width: 330px;
height: 338px;
flex-shrink: 0;
border-radius: 36px;
background: var(--white, #FFF);
box-shadow: 0px 1.852px 3.148px 0px rgba(0, 0, 0, 0.00), 0px 8.148px 6.519px 0px rgba(0, 0, 0, 0.01), 0px 20px 13px 0px rgba(0, 0, 0, 0.01), 0px 38.519px 25.481px 0px rgba(0, 0, 0, 0.01), 0px 64.815px 46.852px 0px rgba(0, 0, 0, 0.02), 0px 100px 80px 0px rgba(0, 0, 0, 0.02);
}
.content img{
    width: 100px;
    height: 100px;
    flex-shrink: 0; 
    fill: #FFF;
    margin-left: 7rem;
}
.content h1{
    color: var(--text-heading-color, #1E1D4C);
text-align: center;
font-family: Open Sans;
font-size: 25px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.content p{
    color: var(--TEXT-CLR, #5E6282);
text-align: center;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 162.5% */
}
.x{
width: 90px;
height: 90px;
flex-shrink: 0;
border-radius: 30px 0px 10px 0px;
background: #DF6951;
margin: 0.8rem;
margin-top: 2rem;
margin-left: 5rem !important;

}

.y{
    margin-right: 5rem !important;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
    border-radius: 30px 0px 10px 0px;
    background: #DF6951;
    margin: 0.8rem;
    margin-top: 2rem;
    }
    
    