
  @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

.logo {
    margin: 0;
    padding: 0;
    margin-left: 5rem;
}

.logo img {
    height: 100%;
}

/* Rest of your existing CSS */


.nav__menu {
    margin-left: auto;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__item {
    margin-bottom: 4rem;
    color: #181E4B;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Zilla Slab;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: rem;
    padding-right:9rem ;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item a {
    text-decoration: none;
    color: black;
}
